<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.business.userinfo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jw.business.userinfo.model.User">
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="isEnabled" jdbcType="VARCHAR" property="isenabled" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, password, isEnabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jw.business.userinfo.model.User">
    insert into t_user (userid, username, password,
      isEnabled)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{isenabled,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.business.userinfo.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="isenabled != null">
        isEnabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        #{isenabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jw.business.userinfo.model.User">
    update t_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        isEnabled = #{isenabled,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jw.business.userinfo.model.User">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      isEnabled = #{isenabled,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>


    <select id="selectAllUser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        <if test="pageNum != null and pageSize != null">
            limit ${pageNum},${pageSize}
        </if>
    </select>
    <select id="selectAllUserCount" parameterType="java.util.HashMap" resultType="java.lang.String">
        select count(*) count
        from t_user
    </select>
</mapper>
